/*--- Main Base Color ---*/
$black: #000000;
$transparent: rgba(0, 0, 0, 0);
$white: #ffffff;
$primary: #ec1d25;
$primary-soft: #f4eeee;

$gray-title: #313131;
$gray-text: #8a8a8a;
$gray-bg-dark: rgb(55, 73, 87);
$gray-bg-light: rgb(245, 245, 245);

$bg-3: #3f2e3e;
$bg-4: #862b0d;

$fb: #45629f;
$share: #d9d9d9;
/*--- /Main Base Color ---*/

// Resolusi
$xsm: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1900px;
// /Resolusi
